<%= form_with model: [@test, @question], local: true  do |form| %>
  <%= render 'shared/errors', resource: @question %>

  <p>
    <%= form.label :body, "Question text:" %><br>
    <%= form.text_field :body, size: 50  %>
  </p>

  <p>
    <%= form.submit btn_title %> | <%= link_to "Cancel", admin_test_path(@question.test_id || params[:test_id]) %>
  </p>
<% end %>
