<p><strong>Test title:</strong> <%= @question.test.title %></p>
<p><strong>Question text:</strong> <%= @question.body %></p>

<h2>Answers</h2>

<ol>
  <%= render @question.answers %>
</ol>

<%= link_to 'Back', test_path(@question.test) %> |
<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'New answer', new_question_answer_path(@question) %>
