<h1><%= t('.title', test_title: @current_test_passage.test.title) %></h1>

<%= show_current_question_num_of_total %>

<b>
  <%= @current_test_passage.current_question.body %>
</b>

<%= form_with url: passed_test_path(@current_test_passage), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @current_test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>

  <p><%= form.submit t('.button_next') %></p>
<% end %>
