<nav class="navbar navbar-light bg-light">
  <%= link_to 'Test Guru', user_signed_in? && current_user.admin? ? admin_tests_path : root_path, class: "navbar-brand" %>

  <span>
    <% if user_signed_in? %>
          <%= t('.welcome_back_html', username: current_user.first_name) %> |
      <%= link_to t('.logout_link'), destroy_user_session_path, method: :delete %>
    <% else %>
          <%= link_to t('.signup'), new_user_registration_path %> |
      <%= link_to t('.login'), new_user_session_path %>
    <% end %>
  </span>

</nav>
