<div>
  <p class="nav bar">
    <%= t('.navigation') %>: <%= link_to 'Test Guru', root_path %>

    <% if user_signed_in? %>
      | <%= link_to t('.logout_link'), destroy_user_session_path, method: :delete %>
      | <%= t('.welcome_back_html', username: current_user.first_name) %>
    <% else %>
      | <%= link_to t('.signup'), new_user_registration_path %>
      | <%= link_to t('.login'), new_user_session_path %>
    <% end %>
  </p>
</div>
