<tr>
  <td scope="col" class="align-middle"><%= test.id %></td>
  <td scope="col">
    <%= content_tag :span, test.title, class: "test-title", data: { test_id: test.id }  %>
    <%= render 'form_inline', test: @test ? @test : test %>
  </td>
  <td scope="col" class="align-middle"><%= test.level %></td>
  <td scope="col" class="align-middle"><%= test.category&.title %></td>
  <td scope="col" align="center" class="align-middle"><%= test.questions.count %></td>
  <td scope="col" class="align-middle"><%= link_to t('.link_to_show'), admin_test_path(test) %></td>
  <td scope="col" class="align-middle">
    <%= link_to t('.link_to_edit'),
                edit_admin_test_path(test),
                data: { test_id: test.id },
                class: 'form-inline-edit-link'
    %>
  </td>
  <td scope="col" class="align-middle">
    <%= link_to t('link_to_delete'),
                admin_test_path(test),
                method: :delete,
                data: { confirm: t('.are_you_sure') } %>
  </td>
</tr>
