<tr>
  <td><%= test.id %></td>
  <td><%= test.title %></td>
  <td><%= test.level %></td>
  <td><%= test.category&.title %></td>
  <td align="center"><%= test.questions.count %></td>
  <td><%= link_to t('.link_to_show'), admin_test_path(test) %></td>
  <td><%= link_to t('.link_to_edit'), edit_admin_test_path(test) %></td>
  <td>
    <%= link_to t('link_to_delete'),
                admin_test_path(test),
                method: :delete,
                data: { confirm: t('.are_you_sure') } %>
  </td>
</tr>
