<tr>
  <td scope="col"><%= test.id %></td>
  <td scope="col"><%= test.title %></td>
  <td scope="col"><%= test.level %></td>
  <td scope="col"><%= test.category&.title %></td>
  <td scope="col" align="center"><%= test.questions.count %></td>
  <td scope="col"><%= link_to t('.link_to_show'), admin_test_path(test) %></td>
  <td scope="col"><%= link_to t('.link_to_edit'), edit_admin_test_path(test) %></td>
  <td scope="col">
    <%= link_to t('link_to_delete'),
                admin_test_path(test),
                method: :delete,
                data: { confirm: t('.are_you_sure') } %>
  </td>
</tr>
