<h1><%= t('.header') %></h1>

<p>
  <%= link_to t('.link_new_test'), new_admin_test_path %>
</p>

<table class="table table-hover">
  <thead class="thead-dark">
  <tr>
    <th scope="col"><%= t('tests.index.test_number') %></th>
    <th scope="col" class="sort-by-title pointer">
      <%= t('tests.index.title') %>
      <%= octicon 'arrow-up', class: 'text-success hide', height: 20 %>
      <%= octicon 'arrow-down', class: 'text-success hide', height: 20 %>
    </th>
    <th scope="col"><%= t('tests.index.level') %></th>
    <th scope="col"><%= t('tests.index.category') %></th>
    <th scope="col"><%= t('tests.index.count_questions') %></th>
    <th scope="col" colspan="3"><%= t('tests.index.actions') %></th>
  </tr>
  </thead>
  <%= render @tests %>
</table>
