<tr>
  <td><%= test.id %></td>
  <td><%= link_to test.title, test_path(test.id) %></td>
  <td><%= test.level %></td>
  <td><%= test.category&.title %></td>
  <td align="center"><%= test.questions.count %></td>
</tr>
