<tr>
  <td><%= test.id %></td>
  <td><%= test.title %></td>
  <td><%= test.level %></td>
  <td><%= test.category&.title %></td>
  <td align="center"><%= test.questions.count %></td>
  <td><%= button_to t('.start_test_button'), start_test_path(test.id) %></td>
</tr>
