<tr>
  <td scope="row"><%= test.id %></td>
  <td scope="row"><%= test.title %></td>
  <td scope="row"><%= test.level %></td>
  <td scope="row"><%= test.category&.title %></td>
  <td scope="row" align="center"><%= test.questions.count %></td>
  <td scope="row"><%= button_to t('.start_test_button'), start_test_path(test.id), class: "btn btn-outline-primary" %></td>
</tr>
