<tr>
  <td><%= test.id %></td>
  <td><%= link_to test.title, test_path(test.id) %></td>
  <td><%= test.level %></td>
  <td><%= test.category ? test.category.title : nil %></td>
  <td align="center"><%= test.questions.count %></td>
</tr>
