<h1>List of questions for test #<%= @test.id %> - "<%= @test.title %>"</h1>

<table>
  <tr>
    <th>Question text</th>
    <th colspan="3">Actions</th>
  </tr>
  <%= render partial: "questions/question", collection: @test.questions %>
</table>

<%= link_to('Back', tests_path) %> |
<%= link_to('Add New', new_test_question_path(@test)) %>
